// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "bootstrap";

nav {
  a {
    color: #fff;
    &:hover {
      color: #f00;
    }
  }
  margin-bottom: 40px;
}
