%header
  %nav.navbar.navbar-dark.bg-dark
    %ul.nav.justify-content-center{:style => "width:100%;"}
      %li.nav-item
        %a.nav-link.active{:href=>'/'} Home
      %li.nav-item
        = link_to "About", '/about', :id => "about", :class => "nav-link"
      %li.nav-item
        = link_to "Projects", '#', :id => 'projects', :class => "nav-link"
